:root {
	--gray: #f0efef;
	--blue: #033e5b;
	--red: #5f0030;
	--color-link: blue;
	--color-bg-intro: gold;
}

html {
	background: var(--gray);
	font-family: Georgia;
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
}

.Splash {
	margin-left: 2vw;
	margin-right: 2vw;
}

.Header {
	background: var(--blue);
	color: white;
	padding: 2rem 1rem 1rem;
	margin-bottom: 4rem;
	width: 100%;
}

.Logo {
	height: 4rem;
	margin-left: -1rem;
	margin-bottom: 4rem;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
survey-questions {
	width: 100%;
}

ls-screen {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
ls-screen[heavy] {
	font-size: 1.4rem;
}
nav {
	padding: 1rem;
}
nav[horizontal] {
	display: flex;
	flex-wrap: wrap;
}
nav[horizontal] nav-item a {
	padding: 1rem;
}
nav-item a {
	text-decoration: none;
	color: var(--color-link);
}
nav-item[focus] {
	font-weight: bold;
}
nav-item[unfocus] a {
	color: gray;
}
